* {
    font-family: Inter;
}  

.container {
    margin: auto;
    max-width: 1025px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* outline: 3px dashed; */
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    outline: 2px solid orange;
    padding: 10px 30px;
    background-color: #F6F8FA;
}

.front-logo {
    /* height: 9em; */
    width: 155px;
    /* outline: 1px dashed; */
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-bar{
    padding: 10px 5px 5px 10px;
    font-size: 14px;
}

.navmenu {
    display: none;
}

.nav-bar:hover{
    color: blue;
}

.head {
    display: flex;
    flex-direction: row;
    height: 450px;
    outline: 2px solid rgb(255, 0, 255);
    gap: 10px;
    padding: 40px 30px 0px;
    background-image: url("../assets/bg/background-top.svg");
}

.leftpart{
    /* outline: 1px solid; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.intro-title {
    font-weight: 500;
    font-size: 40px;
    width: 335px;
    /* outline: 2px dashed red; */
}
.headsubtext,
.subtext{
    /* outline: 2px dashed orange; */
    font-size: 14px;
    font-weight: 500;
    color: #677788;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.button {
    background-color: #2576FF;
    color: white;
    border-radius: 30px;
    padding: 15px 25px 10px;
    text-align: center;
    font-size: 12px;
    width: 8em;
    height: 2em;
    /* outline: 1px solid rgb(2, 2, 66); */
}
.play-button {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #ffffff; /* Black triangle */
    /* cursor: pointer; */
    padding-right: 3px;
}

.button:hover{
    filter: invert(1);
}

.play {
    display: flex;
    gap: 4px;
}
.learnmore {
    /* outline: 2px dashed cyan; */
    color: #677788;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin-left: 20px;
}
.learnmore:hover{
    color: #325a85;
}

.logo-area {
    outline: 3px dashed green;
    width: 55%;
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}

.logo {
    /* outline: 2px dashed rgb(255, 0, 43); */
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    gap: 10em;
    box-shadow: 0 3px 13px gray;
    /* margin: 1em; */
    /* box-shadow: 5px; */

}
/* specifying size here */
.bg img {
    height: 40px;
    width: 40px;
}

.sm img {
    height: 30px;
    width: 30px;
}

/* positioning logos, and animating */
.google-logo {
    position: relative;
    top: 1em;
    left: -12em;
    animation: 2s linear 2s dropin;
}

.atlassian-logo {
    position: relative;
    top: -2em;
    left: 1em;
    animation: 2s linear 0 flyin;
}

.asana-logo {
    position:  relative;
    top: -8em;
    left: 11em;
    animation: 2s linear 0 flyin;
}

.paypal-logo {
    position:  relative;
    top: -3em;
    left: -10em;
    animation: 3s linear 1.5s fadein;
}

.weave-logo {
    position: relative;
    top: -7em;
    left: 6em;
    animation: 3s linear 2s fadein;
}

.googleads-logo {
    position: relative;
    top: -4em;
    left: 1em;
    animation: 3s linear 2.5s fadein;
}

.calendar-logo {
    position: relative;
    top: -6em;
    left: 11em;
    animation: 2s linear 0 flyin;
}

@keyframes fadein {
    0%{
        opacity: 100;
    }
    25% {
        opacity: 50;
    }
    50%{
        opacity: 0;
    }
    75% {
        opacity: 50;
    }
    100%{
        opacity: 100;
    }
}

@keyframes flyin {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes dropin {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0%);
    }
}

.whyfront {
    outline: 2px dashed blue;
    margin: auto;
    height: 355px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.whyfrontTitle,
.pricing {
    font-weight: 700;
    font-size: 26px;
    /* outline: 2px dashed red; */
}

.whyfront {
    width: 100%;
    text-align: center;
}

.fullbox {
    outline: 2px dashed pink;
    display: flex;
    flex-direction: row;
}
.section {
    outline: 1px dashed lime;
}

.subtext {
    text-align: center;
    width: 580px;
    padding-bottom: 20px;
}

.stepbullet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid purple; */
}

.bullet{
    /* outline: 2px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF2FF;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}

.ctrbullet {
    height: 10px;
    width: 10px;
    background-color: #325a85;
    border-radius: 50%;
}

.wing {
    background-color: #677788;
    width: 80px;
    height: 3px;
}
.winginvis {
    background-color: rgb(73, 63, 63);
    height: 0px;
    width: 80px;
}
.step {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px 20px;
    text-wrap: nowrap;
}

.pricing-area{
    outline: 2px solid green;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding-bottom: 120px; 
}

.pricing{
    outline: 2px solid yellow;
    display: flex;
    justify-content: center; 
}

.pricesubtext{
    text-align: center;
    color: #677788;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
}

.planfeats{
    display: flex;
    flex-direction: row; 
    outline: 3px solid rgb(3, 201, 30);
    padding: 0 30px;
}

.plan{
    /* outline: 3px solid rgb(146, 11, 11); */
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    gap: 20px;
    border: 1px solid black;
    box-shadow: 0 10px 20px gray;
}


.cost {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.number {
    font-size: 50px;
    line-height: 100%;
}

.length {
    color: #677788;
    line-height: 100%;
    font-size: 20px;
}

.divider {
    height: 2px;
    width: 100px;
    background-color: gray;
    margin: 20px 0;
}

.cost-text {
    font-weight: 500;
    line-height: 24px;
    color: #677788;
}

.cost-subtext{
    font-size: 12px;
    color: #677788;

}

.features{
    padding: 10px;
    /* outline: 3px dashed green; */
    gap: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
.comp-logo,
.cancel-logo,
.images-logo,
.money-logo {
    height: 50px;
    margin: 0;
}

.comp-box,
.cancel-box,
.images-box,
.money-box{
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 280px;
    height: 220px;
    text-wrap: wrap;
}

.comp-title,
.cancel-title,
.images-title,
.money-title {
    font-weight: 700;
    font-size: 18px;
}

.cancel-title{
    display: flex;
    flex-direction: row;
}

.sketch{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #01C9A7;
    padding: 5px 3px 0;
    height: 23px;
    width: 60px;
    border-radius: 15px;
    margin-left: 5px;
}

.sketch:hover {
    background-color: #014136;
}

.comp-box {
    outline: 2px solid blue;
    
}

.cancel-box{
    outline: 2px solid red;

}
.images-box{
    outline: 2px solid blue;
    
}

.money-box{
    outline: 2px solid red;
    
}

.blue-section {
    background-color: #20335B;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    outline: 2px dashed orange;
    padding: 30px;
}
.blue-section .hire, .testamony, .employee{
    color:white;
}

.hire {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
    gap: 60px;
    padding-left: 40px;
    /* outline: 2px dashed yellow; */
}

.top {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.hireUs {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    /* outline: 2px dashed white; */
}

.whatever{
    color: #677788;
}

.testamony {
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
}

.employee{
    gap: 10px;
    display: flex;
    flex-direction: column;
    /* outline: 2px dashed pink; */
}

.emp-charlotte {
    font-weight: 700;
}

.emp-title{
    font-weight: 500;
    font-size: 14px;
    color: #677788;
    gap: 30px;

}

.emp-img {
    border-radius: 50%;
    gap: 30px;
    height: 60px;
    width: 60px;
}

/* watch form video to get the alignments right */
.contact-Form {
    display: flex;
    justify-content: center;
    padding: 20px;
    /* gap: 20px; */
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    outline: 2px solid green;
    border-radius: 10%;
    background-color: white;
    line-height: 25px;
}
.nameSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.email{
    width: 100%;
}

.dropdown {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.project {
    width: 100%;
}

input.button{
    padding: 0;
}

.formGroup,
.link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.yes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #828282;
    font-size: 14px;
}

a {
    color: #677788;
}

a:hover{
    color: #2476FF;
}

input.button {
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 30px;
    outline: 1px dashed;
}

.leftpanel,
.companylinks,
.companyfeatures,
.companyDocuments,
.companyResource {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.data { 
    color: #677788;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.companylinks{
    /* outline: 2px dashed green; */
}

.hiring {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.hire-btn {
    font-size: 8px;
    padding: 2px 4px;
    color: white;
    border-radius: 3px;
    background-color: #2576FF;
}

.companyfeatures {
    /* outline: 2px dashed blue; */
    
} 

.companyDocuments{
    /* outline: 2px dashed purple; */
}

.companyResource {
    /* outline: 2px dashed rgb(169, 141, 245); */
}

.Help,
.Account {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.Clinks,
.Flinks,
.DocLinks,
.Rlinks {
    font-size: 14px;
    color: #677788;
}

.Clinks:hover,
.Flinks:hover,
.DocLinks:hover,
.Rlinks:hover {
    color: blue;
}

@media  (max-width: 1023px) {
    .navmenu {
    display: block;
    }
    .nav-bar, .buy-btn {
        display:none;
    }








}





@media (max-width: 767px){

}