* {
    font-family: Inter ;
}  

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* outline: 3px dashed; */
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    outline: 2px solid orange;
    padding: 10px 30px;
}

.front-logo {
    /* height: 9em; */
    width: 155px;
    outline: 1px dashed;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-bar{
    padding: 10px 5px 5px 10px;
    font-size: 14px;
}


.navmenu {
    display: none;
}

.nav-bar:hover{
    color: blue;
}

.head {
    display: flex;
    flex-direction: row;
    height: 450px;
    outline: 2px solid rgb(255, 0, 255);
    gap: 10px;
    padding: 40px 30px 0px;
    background-image: url("../assets/bg/background-top.svg");
}

.leftpart{
    /* outline: 1px solid; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.intro-title {
    font-weight: 500;
    font-size: 40px;
    width: 335px;
    /* outline: 2px dashed red; */
}

.subtext{
    /* outline: 2px dashed orange; */
    font-size: 14px;
    font-weight: 500;
    color: #677788;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: row;
    padding-top: 40px;

}

.button {
    background-color: blue;
    color: white;
    border-radius: 30px;
    padding: 15px 25px;
    text-align: center;
    font-size: 12px;
    /* outline: 1px solid rgb(2, 2, 66); */
}
.play-button {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #ffffff; /* Black triangle */
    /* cursor: pointer; */
    padding-right: 3px;
}

.button:hover{
    background-color: indigo;
}

.play {
    display: flex;

}
.learnmore {
    /* outline: 2px dashed cyan; */
    color: #677788;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin-left: 20px;
}
.learnmore:hover{
    color: #325a85;
}

.logo-area {
    /* outline: 3px dashed green; */
    width: 55%;
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}

.logo {
    /* outline: 2px dashed rgb(255, 0, 43); */
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    gap: 10em;
    /* margin: 1em; */
    /* box-shadow: 5px; */

}

/* specifying size here */
.bg img {
    height: 40px;
    width: 40px;
}

.sm img {
    height: 30px;
    width: 30px;
}

/* positioning logos */

.google-logo {
    position: relative;
    top: 1em;
    left: -12em;
}

.atlassian-logo {
    position: relative;
    top: -2em;
    left: 1em;
}

.asana-logo {
    position:  relative;
    top: -8em;
    left: 11em;
}

.paypal-logo {
    position:  relative;
    top: -3em;
    left: -10em;
}

.weave-logo {
    position: relative;
    top: -7em;
    left: 6em;
}

.googleads-logo {
    position: relative;
    top: -4em;
    left: 1em;
}

.calendar-logo {
    position: relative;
    top: -6em;
    left: 11em;
}



.whyfront {
    outline: 2px dashed blue;
    margin: auto;
    height: 355px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.whyfrontTitle,
.pricing {
    font-weight: 700;
    font-size: 26px;
    /* outline: 2px dashed red; */
}

.whyfront {
    width: 100%;
    text-align: center;
}

.subtext {
    text-align: center;
}

.stepbullet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid purple; */
}

.bullet{
    /* outline: 2px solid pink; */
    background-color: #ECF2FF;
    padding: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.elements,
.bullet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctrbul {
    height: 10px;
    width: 10px;
    background-color: #325a85;
    border-radius: 50%;
}

.wing {
    background-color: #677788;
    width: 41px;
    height: 1px;
}
.wing1 {
    background-color: rgb(73, 63, 63);
    height: 1px;
    width: 41px;
}
.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    /* outline: 2px solid rgb(212, 117, 133); */
    padding: 2px 20px;
    text-wrap: nowrap;

}

.step {
    /* outline: 2px dashed red; */
    padding: 0 30px;
}


.pricing-area{
    outline: 2px solid green;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.pricing{
    /* outline: 2px solid yellow; */
    display: flex;
    /* flex-direction: column;  */
    justify-content: center; 
}
.planfeats{
    display: flex;
    flex-direction: row; 
    /* outline: 1px solid yellow; */
}

.plan{
    /* outline: 3px solid rgb(146, 11, 11); */
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    gap: 10px;
}


.cost {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.number {
    font-size: 50px;
}

.length {
    color: #677788;
}

.divider {
    height: 2px;
    width: 100px;
    background-color: gray;
    margin: 20px 0;
}

.cost-text {
    font-weight: 500;
    line-height: 24px;
    color: #677788;
}

.cost-subtext{
    font-size: 12px;
    color: #677788;

}

.features{
    padding: 10px;
    /* outline: 3px dashed green; */
    gap: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
.comp-logo,
.cancel-logo,
.images-logo,
.money-logo {
    height: 50px;
    margin: 0;
}

.comp-box,
.cancel-box,
.images-box,
.money-box{
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 280px;
    height: 220px;
    text-wrap: wrap;
}

.comp-title,
.cancel-title,
.images-title,
.money-title {
    font-weight: 700;
    font-size: 18px;
}


/* .comp-box {
    outline: 2px solid blue;
    
}

.cancel-box{
    outline: 2px solid red;

}
.images-box{
    outline: 2px solid blue;
    
}

.money-box{
    outline: 2px solid red;
    
} */

.blue-section {
    background-color: navy;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 2px dashed orange
}
.blue-section .hire, .testamony, .employee{
    color:white;
}

.hire {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 40px;
}

/* watch form video to get the alignments right */
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    outline: 2px solid green;
    border-radius: 15%;
    background-color: white;
}











.footer{
    display: flex;
    flex-direction: row;
    
}

.info,
.comp-links,
.comp-features,
.comp-docs,
.comp-resources {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;

}

.comp-links{
    
}

.comp-features {
    
} 

@media  (max-width: 1023px) {
    .navmenu {
    display: block;
    }
    .nav-bar, .buy-btn {
        display:none;
    }
}





@media (max-width: 767px){

}